{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "page": "./page",
        "components": "./components",
        "asset": "./asset",
        "config": "./config",
        "http": "./http",
        "types": "./types",
      }
    }]
  ]
}